- Comms:
    - Rocket.Chat:
        href: https://{{ services.rocketchat.fqdn }}
        description: Team chat
        icon: rocketchat.svg

- Data:
    - Nextcloud:
        href: https://{{ services.nextcloud.fqdn }}
        description: File sync
        icon: nextcloud.svg
    - Miniflux:
        href: https://{{ services.miniflux.fqdn }}
        description: RSS reader
        icon: miniflux.svg

- Library:
    - Kavita:
        href: https://{{ services.kavita.fqdn }}
        description: Ebook library
        icon: kavita.svg

- Monitoring:
    - Uptime Kuma:
        href: https://{{ services.uptime_kuma.fqdn }}
        description: Status monitoring
        icon: uptime-kuma.svg
