[Unit]
Description=Rocket.Chat
After=network-online.target local-fs.target rocketchat-mongo.service
Requires=rocketchat-mongo.service

[Container]
Image=docker.io/rocketchat/rocket.chat:latest
ContainerName=rocketchat
EnvironmentFile=/opt/rocketchat/rocketchat.env
Network=rocketchat-net.network
PublishPort=3000:3000

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
