# Postgres
POSTGRES_USER=miniflux
POSTGRES_PASSWORD={{ vault.miniflux.db_password }}
POSTGRES_DB=miniflux

# Miniflux
DATABASE_URL=postgres://miniflux:{{ vault.miniflux.db_password }}@postgres/miniflux?sslmode=disable
RUN_MIGRATIONS=1
CREATE_ADMIN=1
ADMIN_USERNAME={{ vault.miniflux.admin_user }}
ADMIN_PASSWORD={{ vault.miniflux.admin_password }}
BASE_URL=https://{{ services.miniflux.fqdn }}

# OIDC (Authelia)
OAUTH2_PROVIDER=oidc
OAUTH2_CLIENT_ID=miniflux
OAUTH2_CLIENT_SECRET={{ vault.miniflux.oidc_client_secret }}
OAUTH2_REDIRECT_URL=https://{{ services.miniflux.fqdn }}/oauth2/oidc/callback
OAUTH2_OIDC_DISCOVERY_ENDPOINT=https://{{ services.authelia.fqdn }}
OAUTH2_USER_CREATION=1
