B2_ACCOUNT_ID={{ vault.restic.b2_account_id }}
B2_ACCOUNT_KEY={{ vault.restic.b2_account_key }}
RESTIC_PASSWORD={{ vault.restic.password }}
RESTIC_REPOSITORY=b2:{{ storage.restic_b2_bucket }}:{{ restic_node_name }}
